* {
  font-family: 'Fira Sans', sans-serif;
  background-color: black;
}

/* --------------------------------- MASTHEAD ------------------------------- */

.masthead-boxer {
  background-color: black;
  color: white;
  width: 100%;
  max-width: 1200px;
  height: 200px;
  margin: auto;
}

.logo {
  height: 100%;
  width: 226px;
}

.masthead-title {
  padding: 40px 0 0 31px;
  height: 100%;
  line-height: 1.42em;
  font-size: 28px;
  font-weight: bolder;
}

.sub {
  font-size: 18px;
  color: #e2b96f;
  font-style: italic;
}

#social {
  padding: 43px 0 0 90px;
  font-weight: bold;
}

#social a {
  color: white;
}

#social i {
  padding: 3px 0 0 0;
}

#social a:hover {
  color: #e2b96f;
}

#social i:hover {
  color: #e2b96f;
}

/* ----------------------------------- NAV ---------------------------------- */

.nav-boxer {
  max-width: 900px;
  margin: auto;
  height: 50px;
}

.navbar-default {
  background-color: #e2b96f;
  border-color: #e2b96f;
}

div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
  background-color: #e2b96f;
}

.navbar a {
  background-color: #e2b96f;
  letter-spacing: 0.05em;
  font-size: 18px;
  font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #cba664;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: #d1ab67;
  color: white;
}

.navbar-default .navbar-nav span {
  background-color: #cba664;
}

.dropdown-menu {
  background-color: #cba664;
}

/* background-color: #d1ab67;
                     #e2b96f
                     #CBA664*/

/* ------------------------------ CONTENT-AREA ------------------------------ */

.content-area-boxer {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 30px 0 30px 0;
}

.content-area-boxer img {
  max-width: 512px;
}

/* --------------------------------- FOOTER --------------------------------- */

.footer {
  height: 40px;
  background-color: #e2b96f;
  padding: 10px 0 0 0;
  font-weight: bold;
}

.left-foot {
  background-color: #e2b96f;
}

.middle,
.middle span {
  background-color: #e2b96f;
}

.right-foot {
  background-color: #e2b96f;
}

.right-foot i {
  color: black;
  background-color: #e2b96f;
}

.right-foot i:hover {
  color: white;
  background-color: #e2b96f;
}

#extra-space {
  background-color: #e2b96f;
}

/* ------------------------------ MOBILE STYLES ----------------------------- */

@media screen and (min-width: 0px) and (max-width: 736px) {
  #social { display: none; }  /* hide it on small screens */
  .carousel-boxer { display: none; }
  .masthead-title { display: none; }
  .logo
  {
    width: 300px;
    margin: auto;
  }
  .nav-boxer {
    padding: 60px 0 40px 0;
  }
  .navbar-header { background-color: #e2b96f; }
  .nav { background-color: #e2b96f; }
  .navbar-nav { background-color: #e2b96f; }
  .nav li { background-color: #e2b96f; }
  .nav a { background-color: #e2b96f; }
  .features { display: none; }
  .footer {display: none; }
}
