/* Base */

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;

	background: #111; /* Same color as your menu */
	-webkit-font-smoothing: antialiased;
	font-family: "Ek Mukta", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

#page {
	position: relative; /* Set the position property so z-index will apply */
	z-index: 20; /* Make sure this is higher than #menu */

	padding: 20px;
	padding-bottom: 0px;

	background: #111;
	height: 100%;
}

#toggle-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 15px 10px;
	border: 1px solid #eee;
}

#menu {
	display: none;
	position: absolute;
	top: 0;
	right: 0;

	width: 190px;
	padding: 15px 25px;
	margin: 0;

	list-style: none;
	background: #333;
	z-index: 10; /* Make sure the z-index is lower than the #page */
}

#menu
a {
	display: block;
	color: #fff;
	padding: 15px 0;
	border-bottom: 1px solid rgba( 255, 255, 255, 0.05 );
}

/* Animations */

#page,
#menu {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

/* Hide the menu unless it's animating or visible */
.animating
#menu,
.menu-visible
#menu {
	display: block;
}

/***
* If the animating class is present then apply
* the CSS transition to #page over 250ms.
*/
.animating
#page {
	transition: transform .25s ease-in-out;
	-webkit-transition: -webkit-transform .25s ease-in-out;
}

/***
* If the left class is present then transform
* the #page element 240px to the left.
*/
.animating.left
#page {
	transform: translate3d( -240px, 0, 0 );
	-webkit-transform: translate3d( -240px, 0, 0 );
}

/***
* If the right class is present then transform
* the #page element 240px to the right.
*/
.animating.right
#page {
	transform: translate3d( 240px, 0, 0 );
	-webkit-transform: translate3d( 240px, 0, 0 );
}

/***
* If the menu-visible class is present then
* shift the #page 240px from the right edge
* via position: absolute to keep it in the
* open position. When .animating, .left and
* .right classes are not present the CSS
* transform does not apply to #page.
*/
.menu-visible
#page {
	right: 240px;
}

/* Hide the #toggle-menu element on larger screens */
#toggle-menu {
  display: none;
}

@media only screen and (max-width: 767px) {
  #toggle-menu {
    display: block;
  }

  /* Place all the CSS for your mobile #menu here */
}

/* ------------------------------- MY STYLES -------------------------------- */

.header-boxer {
	max-width: 1200px;
	margin: auto;
	height: 240px;

	/* For space checking purposes - border: 1px solid #fff; */

}

.logo>img {
  width: 240px;
}

.header-title {
	position: relative;
	height: 100%;
	top: 25px;
}

.header-title,
h1 {
	color: #fff;
	line-height: 1.25em;
	font-family: "Ek Mukta", sans-serif;
	font-size: 5.5rem;
	letter-spacing: 2.5px;
}

.header-subtitle {
	position: relative;
	left: 20px;
	font-family: "Dancing Script", cursive;
	font-size: 30px;
	color: #e2b96f;
	font-style: italic;
	letter-spacing: normal;
}

.social {
	position: relative;
	top: 50px;
	left: 2.5%;
}

.social
a {
	color: #e2b96f;
}

.social a:hover {
  color: #fff;
}

.instagram-icon {
	position: absolute;
}

.facebook-icon {
	position: absolute;
	top: 50px;
}

.email-icon {
	position: absolute;
	top: 100px;
}

/* ---------------------------------- NAV ----------------------------------- */

.nav-boxer {
	position: relative;
	max-width: 900px;
	margin: auto;
	top: 20px;
}

/*
 * This is the navbar itself
 */
.navbar-default {
	background-color: #e2b96f;
	border-color: #f2b96f;
}

/*
 * This is the active list item
 */
.navbar-default
.navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	background-color: #cba664;
}

.navbar
a {
	font-family: "Ek Mukta", sans-serif;
	font-size: 18px;
}

/*
 * These are the non-active list items
 */
.navbar-default
.navbar-nav>li>a {
	color: #fff;
}

/*
 * Controls the height and width of the navbar links
 */
.nav>li>a {
	position: relative;
	padding: 15px 37px;

	/* TODO: Media Query - Problem occurs around width: 830.75px; */
}

/*
 * Controls the color of the nav item when in dropdown-menu mode
 */
.navbar-default
.navbar-nav>.open>a,
.navbar-default
.navbar-nav>.open>a:focus,
.navbar-default
.navbar-nav>.open>a:hover {
	color: #000;
	background-color: #cba664;
}

.dropdown-menu {
	background-color: #e2b96f;
}

/* ------------------------------- CAROUSEL --------------------------------- */

.carousel-boxer {
	position: relative;
  max-width: 1200px;
  margin: auto;
}

.carousel-control {
	color: #e2b96f;
}

/*
 * Match image height to the smallest image height
 * to keep site consistent size.
 */
.carousel-inner img {
		max-height: 640px;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* --------------------------- MISSION STATEMENT ---------------------------- */

.mission-statement {
	position: relative;
	max-width: 600px;
	margin: auto;
}

.mission-statement
h3 {
	color: #e2b96f;
	font-family: "Ek Mukta", sans-serif;
}

.mission-statement
h4 {
	color: #fff;
	font-family: "Ek Mukta", sans-serif;
}

.mission-statement
span {
	color: #e2b96f;
}

/* ------------------------------- FEATURES --------------------------------- */

.features-boxer {
  max-width: 1200px;
  margin: auto;
}

.features
h2 {
	font-family: "Ek Mukta", sans-serif;
	color: #e2b96f;
}

.features
p {
	font-family: "Ek Mukta", sans-serif;
	color: #fff;
}

/* -------------------------------- FOOTER ---------------------------------- */

.footer {
	max-width: 1200px;
	margin: auto;
	height: 200px;
	background-color: #e2b96f;
	border-radius: 10px 10px 0px 0px
}

.footer
a:hover,
i:hover {
	color: #fff;
	text-decoration: none;
}

.footer-top {
	height: 170px;
	color: #111;
}

.footer-top
.contact {
	position: relative;
	left: -20%;
}

.footer-top
.find {
	position: relative;
	left: 20%;
}

.footer-top
i {
	position: relative;
	top: 10px;
}

.footer-top
h3 {
	font-family: "Ek Mukta", sans-serif;
	font-weight: bold;
	font-size: 2.3rem;
	margin-top: 4px;
}

.footer-top
a {
	color: #111;
}

.footer-bottom {
	height: 30px;
	font-family: "Ek Mukta", sans-serif;
}

.footer-bottom
h5 {
	font-size: 12px;
}

/* -------------------------------- DIVIDER --------------------------------- */

.divider
hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #e2b96f, #ccc);
	max-width: 1200px;
}

/* ---------------------------- SOLO PAGE STYLES ---------------------------- */

/* ------------------------------ INTRODUCTION ------------------------------ */

.intro {
	position: relative;
	max-width: 750px;
	margin: auto;
}

.intro
h2 {
	color: #e2b96f;
	font-family: "Ek Mukta", "Arial", sans-serif;
}

.intro
span {
	color: #e2b96f;
}

.intro
h3 {
	color: #fff;
	font-family: "Ek Mukta", "Arial", sans-serif;
}

.intro
h4 {
	color: #fff;
	font-family: "Ek Mukta", "Arial", sans-serif;
	line-height: 1.5em;
}

.intro
img {
	margin: 20px 0 20px 0;
}

/* -------------------------------- CONCEPT --------------------------------- */

.concept {
	position: relative;
	max-width: 750px;
	margin: auto;
}

.concept
span {
	color: #e2b96f;
}

.concept
h2 {
	color: #e2b96f;
	font-family: "Ek Mukta", "Arial", sans-serif;
}

.concept
h4 {
	color: #fff;
	font-family: "Ek Mukta", "Arial", sans-serif;
	line-height: 1.5em;
}

/* --------------------------------- STAFF ---------------------------------- */

.staff {
	position: relative;
	max-width: 750px;
	margin: auto;
}

.staff
h2 {
	color: #e2b96f;
	font-family: "Ek Mukta", "Arial", sans-serif;
}

.staff
h3 {
	color: #fff;
	font-family: "Ek Mukta", "Arial", sans-serif;
}

.staff
h4 {
	font-family: "Ek Mukta", "Arial", sans-serif;
	color: #fff;
	line-height: 1.5em;
}

.staff
h5 {
	font-family: "Ek Mukta", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

.staff
li {
	color: #e2b96f;
}

.job-position {
	border: 2px solid #e2b96f;
	padding: 7.5px 0px;
}

/* --------------------------------- NEWS ----------------------------------- */

.news {
	position: relative;
	max-width: 500px;
	margin: auto;
}

/* -------------------------------- CONTACT --------------------------------- */

.contact-form {
	position: relative;
	max-width: 750px;
	margin: auto;
}

.contact-form
h2 {
	font-family: "Ek Mukta", "Arial", sans-serif;
	color: #e2b96f;
}

.contact-form
h4 {
	font-family: "Ek Mukta", "Arial", sans-serif;
	color: #fff;
	position: relative;
	top: 18px;
}

form {
	font-family: "Ek Mukta", "Arial", sans-serif;
	font-size: 20px;
	padding: 10px 0px;
}

input {
	width: 100%;
	margin: 2.5px 0px;
	border-radius: 2px;
}

textarea {
	min-width: 100%;
	margin: 2.5px 0px;
	border-radius: 2px;
}

#submit {
	position: relative;
	border-radius: 5px;
	width: 50%;
	left: 25%;
	background-color: #e2b96f;
	border-color: #e2b96f;
}

/* ----------------------------- MEDIA QUERIES ------------------------------ */

@media all and (max-width: 1237px) {
	.header-title,
	h1 {
		font-size: 5rem;
	}
}

@media all and (max-width: 1145px) {
	.header-title,
	h1 {
		font-size: 4.5rem;
	}
	.header-subtitle {
		font-size: 26px;
	}
}

@media all and (max-width: 1053px) {
	.header-boxer {
		height: 220px;
	}
	.header-title,
	h1 {
		font-size: 4rem;
	}
	.header-subtitle {
		font-size: 20px;
	}
	.logo>img {
	  width: 220px;
	}
	.navbar
	a {
		font-size: 16px;
	}
	.nav>li>a {
		padding: 15px 38px;
	}
}

@media all and (max-width: 986px) {
	.nav>li>a {
		padding: 15px 37.5px;
	}
}

@media all and (max-width: 980px) {
	.nav>li>a {
		padding: 15px 36.5px;
	}
}

@media all and (max-width: 969px) {
	.header-title,
	h1 {
		font-size: 3.5rem;
	}
	.nav-boxer {
		top: 10px;
	}
	.nav>li>a {
		padding: 15px 35.5px;
	}
	.header-boxer {
		height: 200px;
	}
	.logo>img {
	  width: 200px;
	}
}

@media all and (max-width: 956px) {
	.nav>li>a {
		padding: 15px 34.5px;
	}
}

@media all and (max-width: 945px) {
	.nav>li>a {
		padding: 15px 33.5px;
	}
}

@media all and (max-width: 927px) {
	.nav>li>a {
		padding: 15px 32px;
	}
}

@media all and (max-width: 909px) {
	.nav>li>a {
		padding: 15px 30.5px;
	}
}

@media all and (max-width: 891px) {
	.nav>li>a {
		padding: 15px 29px;
	}
}

@media all and (max-width: 873px) {
	.header-title {
		left: 10px;
	}
	.header-title,
	h1 {
		font-size: 3.25rem;
	}
	.logo>img {
		width: 180px;
	}
	.social {
		top: 35px;
	}
	.nav>li>a {
		padding: 15px 27.5px;
	}
}

@media all and (max-width: 855px) {
	.nav>li>a {
		padding: 15px 26px;
	}
}

@media all and (max-width: 837px) {
	.nav>li>a {
		padding: 15px 24.5px;
	}
}

@media all and (max-width: 823px) {
	.header-title,
	h1 {
		font-size: 3rem;
	}
	.nav-boxer {
		top: 2.5px;
	}
}

@media all and (max-width: 819px) {
	.nav>li>a {
		padding: 15px 23px;
	}
}

@media all and (max-width: 801px) {
	.header-title {
		left: 20px;
	}
	.nav>li>a {
		padding: 15px 21.5px;
	}
}

@media all and (max-width: 783px) {
	.nav>li>a {
		padding: 15px 20.5px;
	}
}

@media all and (max-width: 776px) {
	.header-title,
	h1 {
		font-size: 2.75rem;
	}
	.header-subtitle {
		font-size: 16px;
	}
}
